{% extends 'base.html' %}

{% block content %}
<div class="ui container">
    <div class="ui segment">
        <div class="ui">
        <form method="POST" class="ui form">
            {% csrf_token %}
            <legend> Log In </legend>
            {{ form.as_p }}
            <div>
            <button type="submit" class="ui positive button">Log In</button>
            </div>
        </form>
        </div>
        <div class="ui horizontal divider">
            Or
        </div>
        <div class="ui center aligned basic segment">
            Don't have an account?
            <a href="/register">Sign up here</a>
        </div>
    </div>
</div>
{% endblock content %}